.App {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  flex-direction: row;
  background: #222;
  align-self: flex-start;
}

.tab > div {
  background: #222;
  color: white;
  width: 134.7px;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-align: center;
}

.tab > div:hover {
  background: #191919;
}

.tab > div.active {
  background: #191919;
}

.tab-tools {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.tab-content {
  -webkit-transition: display 2s ease-out;
  -moz-transition: display 2s ease-out;
  -o-transition: display 2s ease-out;
  transition: display 2s ease-out;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding-left: 20px;
}

.scope-chooser {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #222;
}

.scope-chooser > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scope-chooser > div:hover {
  color: white;
  background-color: #191919;
}
.scope-chooser > div.active {
  background-color: #191919;
}